.search-list {
    width: 100%;
    height: 325px;

    border-left: var(--border-color) solid 1px;
    border-right: var(--border-color) solid 1px;
    border-bottom: var(--border-color) solid 1px;
    border-radius: 0 0 8px 8px;

    overflow-y: hidden;
}

.search-list_btns {
    padding: 8px 36px 8px 10px;

    display: flex;
    justify-content: space-between;

    background: var(--bg-color);
}

.search-list_btn {
    padding: 4px 2px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 8px;

    color: var(--text-color);
    font-size: 16px;
    font-family: IBMPlexMonoRegular;
    text-transform: uppercase;

    user-select: none;
}

.search-list_btn:hover {
    background-color: var(--bg-color-hover);
}

.search-list_btn-open {
    font-family: IBMPlexMonoSemiBold;
}

.search-list_btn-open:hover {
    background-color: transparent;
}

.coins-ul {
    height: 272px;
    overflow-y: scroll;
}

.coins-ul::-webkit-scrollbar {
    display: none;
}

.coins-li {
    padding: 10px 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 8px;

    color: var(--text-color);
    font-size: 15px;
    font-family: IBMPlexMonoRegular;
    cursor: pointer;
}

.coins-li:hover {
    background: var(--bg-color-hover);
}

.no-results {
    padding: 12px;

    color: var(--text-color);
    font-size: 14px;
    font-family: IBMPlexMonoRegular;
}
